<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sentiment Analyzer</title>
    

</head>

<body>
    <div class="div1">
        <div class="container">
            <h1>Sentiment Analyzer</h1>
            <textarea id="text" rows="4" cols="50" placeholder="Enter text..."></textarea><br>
            <button onclick="analyzeText()">Analyze</button>
            <div class="result" id="result"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>